<!DOCTYPE html>
<head><title>Profile Page</title></head>
<body><b>User Profile Page Mahee</b><br>

    <ul>

    <%if(locals.user){%>

<li><%=user.name%></li>
<li><%=user.email%></li>
<li><a href="/register/sign-out">SignOut</a></li>
        <%}else{%>

<h4>Nothing mahi</h4>


            <%}%>
        </ul>
</body>
</html>